               <!Doctype html>
                        <html>
                                <head>
                                        <meta charset="UTF-8">
                                        <title>Hello World</title>
                                </head>
                                <body>
                                        <h1>Time</h1>
					<p>Formatting Time</p>
					<h2>Without Formatting</h2>
					<p>{{.}}</p>
					<h2>With Formatting</h2>
					<p>{{fdateMDY .}}</p>
                                </body>
                        </html>
                </html>
